<div class="menu">
      <div class="colunm">
      <a href="/services">Serviços</a>
      <a href="/contato">Contato</a>
    </div>
    </div>    
    <img class="sandbar" src="/img/menu.png"/> 
<nav class="navbar second">
  <div class="nav-itens">
    <a href="/services">Serviços</a>
    <a href="/contato">Contato</a>
  </div>
</nav>
<div class="auth-container" id="margin">
  <form class="card-form" action="/agenda/insert" method="POST">       
    <div class="row">
       <div class="col-md-4 mb-2">
        <label class="form-label" for="cpf">Digite seu cpf: </label>
        <input class="form-control" name="cpf" type="text">
        </div>
       <div class="col-md-4 mb-2">
        <label for="procedimento" class="form-label"> Escolha seu procedimento: </label>
        <select name="procedimento" class="form-select">
          <option value=""></option>
          <option value="Drenagem Linfática">Drenagem Linfática</option>
          <option value="Massagem Modeladora">Massagem Modeladora</option>
          <option value="Massagem Desportiva">Massagem Desportiva</option>
          <option value="Massagem Relaxante">Massagem Relaxante</option>
        </select>
      </div>
      <div class="col-md-4 mb-2">
        <label for="profissional" class="form-label"> Escolha o profissional: </label>
        <select name="profissional" class="form-select">
          <option value=""></option>
          <option value="Ingrid">Ingrid</option>
          <option value="Tereza">Tereza</option>
          <option value="Matheus">Matheus</option>
          <option value="Bruna">Bruna</option>
        </select>
      </div>
      <div class="col-md-6 mb-2">
        <label for="data" class="form-label"> Data: </label>
        <input class="form-control" type="date" name="data">
      </div>
       <div class="col-md-6 mb-4">
        <label for="horario" class="form-label"> Horário: </label>
        <input class="form-control" type="time" name="horario">
      </div>
      <div class="col text-center">
      <input type="submit" class="btn" value="Agendar">
      </div>
</form>
</div>