<nav class="navbar second">
  <div class="nav-itens">
    <a href="/services">Serviços</a>
    <a href="/agendar">Agendar</a>
    <a href="/consultar">Consultar Agendamento</a>
    <a href="/loginstaff">Login Staff</a>
  </div>
</nav>
<div class="container-banner">
  <div class="row">
    <div class="row">
      <div class="col-sm-3 mov1"><img src="/img/banner1.jpg" /></div>
      <div class="col-sm-6">
        <img class="mov3" src="/img/banner2.jpg" />
        <img class="mov4" src="/img/banner3.jpg" />
      </div>
      <div class="col-sm-3 mov2"><img src="/img/banner4.jpg" /></div>
    </div>
  </div>
</div>