<div class="auth-container">
    <form class="card-form" action="/register" method="POST">
        <div class="col mb-2">
            <label class="form-label" for="text">Nome:</label>
            <input class="form-control" type="name" name="name" placeholder="Digite o seu nome" required>
        </div>
        <div class="col mb-2">
            <label class="form-label" for="email">E-mail:</label>
            <input class="form-control" type="email" name="email" placeholder="Digite o seu e-mail" required>
        </div>
            <div class="col mb-2">
            <label class="form-label" for="password">Senha:</label>
            <input class="form-control" type="password" name="password" placeholder="Digite a sua senha" required>
        </div>
        <div class="col mb-4">
            <label class="form-label" for="confirmpassword">Confirmação de senha:</label>
            <input class="form-control" type="password" name="confirmpassword" placeholder="Confirme a sua senha" required>
        </div>
        <div class="col">
        <input class="btn mb-2" type="submit" value="Cadastrar">
        <p class="text-center mb-0 mt-0">Já tem conta? <a href="/login">Clique aqui</a></p>
        </div>
    </form>
</div>