<div class="menu">
      <div class="colunm">
      <a href="/client">Agendar</a>
    <a href="/contato">Contato</a>
    </div>
    </div>    
    <img class="sandbar" src="/img/menu.png"/> 
<nav class="navbar second">
  <div class="nav-itens">
    <a href="/client">Agendar</a>
    <a href="/contato">Contato</a>
  </div>
</nav>
<div id="services">
  <div class="row mb-4 colunm">
    <div class="col">
      <div class="row card-service">
        <h4>Drenagem Linfática</h4>
        <div class="col-md-4">
          <img src="/img/services1.jpg"/>
        </div>
        <div class="col">
          <p>Essa massagem ajuda a reduzir o inchaço, melhorar a circulação sanguínea e até mesmo aliviar dores musculares.</p>
          <a class="btn" href="/client">Agende sua sessão</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row card-service right">
        <h4>Massagem Modeladora</h4>
        <div class="col-md-4">
          <img src="/img/services2.jpg" />
        </div>
        <div class="col">
          <p>Ajuda a reduzir medidas e a remodelar o corpo. Não perca mais tempo e agende já sua sessão para sentir-se mais confiante e bonita.</p>
          <a class="btn" href="/client">Agende sua sessão</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4 colunm">
    <div class="col">
      <div class="row card-service">
        <h4>Massagem Desportiva</h4>
        <div class="col-md-4">
          <img src="/img/services3.jpg" />
        </div>
        <div class="col">
          <p>Além de prevenir danos e desgastes, essa técnica também auxilia na recuperação muscular após o treino intenso.</p>
          <a class="btn" href="/client">Agende sua sessão</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row card-service right">
        <h4>Massagem Relaxante</h4>
        <div class="col-md-4">
          <img src="/img/services4.jpg" />
        </div>
        <div class="col">
          <p> Invista em um momento de cuidado e bem-estar para si mesmo com uma sessão de massagem relaxante.</p>
          <a class="btn" href="/client">Agende sua sessão</a>
        </div>
      </div>
    </div>
  </div>
</div>